[submodule "ubuntu16-04/vim/ctrlp.vim"]
	path = ubuntu16-04/vim/ctrlp.vim
	url = git@github.com:kien/ctrlp.vim.git
[submodule "ubuntu16-04/vim/MatchTag"]
	path = ubuntu16-04/vim/MatchTag
	url = git@github.com:gregsexton/MatchTag.git
[submodule "ubuntu16-04/vim/nerdcommenter"]
	path = ubuntu16-04/vim/nerdcommenter
	url = git@github.com:scrooloose/nerdcommenter.git
[submodule "ubuntu16-04/vim/nerdtree"]
	path = ubuntu16-04/vim/nerdtree
	url = git@github.com:scrooloose/nerdtree.git
[submodule "ubuntu16-04/vim/python-mode"]
	path = ubuntu16-04/vim/python-mode
	url = git@github.com:python-mode/python-mode.git
